<%- include('partials/header') -%>
  <div class="container-fluid">
    <div class="row justify-content-center mt-5">
      <ul class="list-unstyled">

        <!-- loop through post and grab base on ID, hard codes /post/ followed by insert of ID -->
        <% for(var i=0; i<posts.length; i++) {%>  
          <li class=" col-12 col-md-6 justify-content-between mt-5 shadow p-3 mb-5 bg-white rounded d-flex flex-column flex-md-row align-items-center">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
            <div class="flex-grow-1">
            <h5 class="mb-1  ms-3">Title:   <span class="mb-1  ms-3"> <%= posts[i].title %> </span></h5><br>
             <p class="mb-1  ms-3"> <%= posts[i].caption %></p>
            </div>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>




